/* UniversityList.css */
.UniversityListContainer {
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    min-height: calc(100vh - 60px - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .UniversityTitle {
    margin-bottom: 10px;
    font-size: 30px;
  }
  
  .SearchUniArea {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%; /* 确保宽度充满父容器 */
    justify-content: center; /* 水平居中 */
  }
  
  .SearchUni {
    background-color: rgba(87, 87, 87, 0.2);
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    height: 40px;
    width: 500px;
    box-sizing: border-box;
  }
  
  .SearchUniButton {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin-left: 10px; /* 与输入框之间的间距 */
    cursor: pointer;
  }

  .SearchUniButton svg {
    stroke-width: 30;
    width: 20px;
    height: 20px;
  }
  
  .UniversityGrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around; /* 水平均匀分布 */
  }